﻿@model DerinDenizProjesi.Models.Kullanici

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KulAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KulAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TekrarSifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TekrarSifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoyAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoyAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "KullaniciEdit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "KullaniciIndex")
</p>
