﻿@model DerinDenizProjesi.Models.Urun

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunDetay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunDetay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UrunEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "UrunIndex")
</p>
