﻿@model IEnumerable<DerinDenizProjesi.Models.Urun>

<p>
    @Html.ActionLink("Create New", "Urun<Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunDetay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunDetay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            @Html.ActionLink("Edit", "UrunEdit", new { id=item.ID }) |
            @Html.ActionLink("Details", "UrunDetails", new { id=item.ID }) |
            @Html.ActionLink("Delete", "UrunDelete", new { id=item.ID })
        </td>
    </tr>
}

</table>
