﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title</h2>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
       
        <div class="col-md-2 "></div>
        <div class="col-md-8" style="text-align:center;">  
            <p "><h3>Biz Kimiz?</h3></p><br />
            <p>Biz 2016 yılında kurulmuş bir dağıtım şirketiyiz. Bizim amacımız en iyi ve en kaliteli ürünleri 
            doğru yoldan müşterilerimizle buluturruo onlara keyifli avlar yaşatmak</p>

        </div>
        <div class="col-md-2"></div>
    </div>
</body>

</html>