﻿
@{
    ViewBag.Title = "Admin_index";
}


<h2>Admin_index</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <h3 >Kullanıcılar için tıkla!</h3>
            <a href="/Admin/KullaniciIndex"><img src="~/Scripts/kullanıcı.png" style="height:300px; align-items:center; width:300px;" /></a>

        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 >Ürünler için tıkla!</h3>
                    <a href="/Admin/UrunIndex"><img src="~/Scripts/dolar.jpg" style="height:300px; align-items:center; width:300px;" /></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>




</body>
</html>
