﻿@model DerinDenizProjesi.Models.Urun





<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="col-md-6">

            <img src="@Model.Resim" style="width:300px; height:300px;" />

        </div>
        <br />
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="background-color:#101010;">
                                <h3 class="panel-title">@Model.UrunAd</h3>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            </div>
                            <div class="panel-body"><h4>@Model.UrunDetay</h4><br /><br />
                                                    <h3>@Model.Fiyat</h3>
                            </div><br />
                            
                        </div>
                        <a role="button" href="#" type="button" class="btn btn-default " name="SatınAl" style="">Satın Al</a>
                    </div>
                    </div>
                </div>
            </div>

        

    
</body>
</html>