﻿@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="col-md-6 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.935554172642!2d30.32739165093694!3d40.74144357349634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1481624692908" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>İletişim Bilgilerimiz</h3>
            <br />
            <address>
                Sakarya Üniversitesi<br />
                Bilgisayar Mühendisliği<br />
                <abbr title="Phone">Tel:</abbr>05666666666
            </address>
        </div>
        
    </div>
</body>

</html>


