﻿@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body> 
    <div class="container">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h3>@ViewBag.Hata</h3>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="container">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="form-inline" method="post">
                <div class="form-group">
                    <p>Kullanıcı Adı:</p>
                    <input type="text" class="form-control" name="KulAdi" placeholder="">
                </div>
                <div class="form-group">
                    <p>Sifre:</p>
                    <input type="password" class="form-control" name="Sifre" placeholder="">
                </div>
                <br />
                <button type="submit" class="btn btn-default">Giriş</button>
            </form>
        </div>
        <div class="col-md-4"></div>
        
        
     </div>
</body>

</html>