﻿@model DerinDenizProjesi.Controllers.HomeController.Urunler
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="col-md-2">
            <button type="button" class="btn btn-default" name="olta"><a href="@Url.Action("Fishing","Home")" style="text-decoration:none;">Olta</a></button><br />
            <button type="button" class="btn btn-default" name="kamis"><a href="@Url.Action("Kamis","Home")" style="text-decoration:none;">Kamış</a></button><br />
            <button type="button" class="btn btn-default" name="misine"><a href="@Url.Action("Misine","Home")" style="text-decoration:none;">Misine</a></button><br />
            <button type="button" class="btn btn-default" name="tulum"><a href="@Url.Action("Tulum","Home")" style="text-decoration:none;">Tulum</a></button><br />
            <button type="button" class="btn btn-default" name="kursun"><a href="@Url.Action("Kursun","Home")" style="text-decoration:none;">Kurşun</a></button><br />
            <button type="button" class="btn btn-default" name="yem"><a href="@Url.Action("Yem","Home")" style="text-decoration:none;">Yem</a></button><br />

        </div>
        <div class="col-md-10">
            <div class="container">
                <h3 style="margin-left:300px;">Balık Avı - Misina</h3>
                @foreach (var item in Model.urunum)
                {

                    <div class="col-md-3">
                        <img src="@item.Resim" alt="@item.UrunAd" style="width:200px; height:200px;" />
                        <br />
                        <a role="button" href="/Home/AltSayfa/?id=@item.ID" type="button" class="btn btn-default sepet_button" name="SepeteEkle" style="margin-left:100px;">Sepete Ekle</a><br />
                    </div>
                }
            </div>

        </div>
    </div>
</body>
</html>

