﻿@model DerinDenizProjesi.Controllers.HomeController.Urunler
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    @* <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@


    <title>@ViewBag.Title - Derin Deniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="col-md-2">
            <button type="button" class="btn btn-default" name="zıpkın"><a href="@Url.Action("Dive","Home")" style="text-decoration:none;">Zıpkın</a></button><br />
            <button type="button" class="btn btn-default" name="elbise"><a href="@Url.Action("Elbise","Home")" style="text-decoration:none;">Elbise</a></button><br />
            <button type="button" class="btn btn-default" name="eldiven "><a href="@Url.Action("Eldiven","Home")" style="text-decoration:none;">Eldiven</a></button><br />
            <button type="button" class="btn btn-default" name="çorap"><a href="@Url.Action("Corap","Home")" style="text-decoration:none;">Çorap</a></button><br />
            <button type="button" class="btn btn-default" name="kursun"><a href="@Url.Action("DalisKursun","Home")" style="text-decoration:none;">Kurşun</a></button><br />
            <button type="button" class="btn btn-default" name="fener"><a href="@Url.Action("Fener","Home")" style="text-decoration:none;">Fener</a></button><br />
            <button type="button" class="btn btn-default" name="palet"><a href="@Url.Action("Palet","Home")" style="text-decoration:none;">Palet</a></button><br />
            <button type="button" class="btn btn-default" name="gözlük"><a href="@Url.Action("Gözlük","Home")" style="text-decoration:none;">Gözlük</a></button><br />
            <button type="button" class="btn btn-default" name="şınorkel"><a href="@Url.Action("Sinorkel","Home")" style="text-decoration:none;">Sinorkel</a></button><br />

        </div>
        <div class="col-md-10">
            <div class="container">
                <h3 style="margin-left:300px;">Dalış - Palet</h3>
                @foreach (var item in Model.urunum)
                {

                    <div class="col-md-3">
                        <img src="@item.Resim" alt="@item.UrunAd" style="width:200px; height:200px;" />
                        <br />
                        <a role="button" href="/Home/AltSayfa/?id=@item.ID" type="button" class="btn btn-default sepet_button" name="SepeteEkle" style="margin-left:100px;">Sepete Ekle</a><br />
                    </div>
                }

            </div>

        </div>
    </div>
</body>
</html>
