﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet"

</head>
<body>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner " role="listbox">
            <div class="item active ">


                <img src="~/Scripts/banner_001.jpg" />
            </div>

            <div class="item ">


                <img src="~/Scripts/banner_002.jpg" />
            </div>

            <div class="item  ">


                <img src="~/Scripts/banner_003.jpg" />
            </div>
            <div class="item">
                <img src="~/Scripts/banner_004.jpg" />
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Balık Avı</h2>
            <p>
                Balık avı kimileri için vazgeilmezdir. 
                O tulumları giyip oltayı alıp sabah tan aşakama bazende akşamdan 
                sabaha vakit geçirmektir.
            </p>
            <p>
            <div class="btn btn-default">
              @Html.ActionLink("Balık Avı", "Fishing", "Home") &raquo;
            </div>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Dalış</h2>
            <p> Dalış suya hakim olmak değil midir? suyun soğukluğunu elbisenle yenmek. 
            Zıpkınınla avını çaresiz bırakmak. 
            Fenerinle her yere hakim olmaktır.</p>
            <p> 
                <div class="btn btn-default">
                    @Html.ActionLink("Dalış", "Dive", "Home") &raquo;
                </div>
</p>
        </div>
        <div class="col-md-4">
            <h2>Bizim İçin Cennet</h2>
            <p>Kendi kendini temizleyebilen körfez: Saros Sanayiden uzak kalabilen 
            "şanslı" sahillere sahip olan Saros, Edirne´den yaklaşık 150 km., 
            İstanbul´dan yaklaşık 250 km. uzaklığıyla yaz aylarının gözde 
            tatil beldelerinden biri olarak her geçen gün daha fazla ilgi çekiyor...</p>
            <p><a class="btn btn-default" href="http://www.sarosda.com/saros-korfezi/saros-korfezi-hakkinda">Saros Körfezi &raquo;</a></p>
        </div>
    </div>

</body>


</html>